Standardizing Text Columns (by Nicholas & Nathan)
To ensure consistency and remove variations caused by inconsistent text formatting (like "yes", "Yes ", or " YES"), we identified all columns in the dataset that contain categorical (text) data.

For each of these columns, we applied a cleaning pipeline that:

Converts all values to string (in case some were stored as non-text types),

Removes leading/trailing spaces using .strip(),

Converts all characters to lowercase for standardization,

Applies title case formatting (.title()) to improve readability in the final dataset.

We also used .loc to avoid the common SettingWithCopyWarning and safely update the DataFrame after filtering. This cleanup helps ensure reliable analysis and visualization in later steps.

In [9]:
from nbformat import v4 as nbf

nb = nbf.new_notebook()
print("nbformat is working ‚úÖ")

nbformat is working ‚úÖ

In [11]:
# üì• Step 1: Import required libraries
import pandas as pd
import numpy as np

In [ ]:
# üìÇ Step 2: Load the dataset
df = pd.read_csv('../data/raw/survey.csv')
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [ ]:
# üîé Check for missing values
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [ ]:
# Drop unnecessary columns
df = df.drop(columns=['comments', 'state'])

# Impute missing values
df['self_employed'] = df['self_employed'].fillna('Unknown')
df['work_interfere'] = df['work_interfere'].fillna('Don‚Äôt know')

# Double-check no missing values remain
df.isnull().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [ ]:
print(df.columns.tolist())

['Timestamp', 'Age', 'Gender', 'Country', 'self_employed', 'family_history', 'treatment', 'work_interfere', 'no_employees', 'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'obs_consequence']

In [17]:
# üîç Check age outliers
df['Age'].describe()

# Optionally remove unrealistic ages (e.g., <18 or >100)
df = df[(df['Age'] >= 18) & (df['Age'] <= 100)]

In [20]:
import os
os.makedirs('../data/final', exist_ok=True)

df.to_csv('../data/final/survey_cleaned.csv', index=False)

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('../data/raw/survey.csv')
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [11]:
# Restore 'state' only for US respondents; others marked as Not Applicable
# For each row in the dataset, if the country is 'United States', keep the existing 'state' value.
# Otherwise, set the 'state' value to 'Not Applicable' since state information is not relevant for other countries.
df['state'] = df.apply(
    lambda row: row['state'] if row['Country'] == 'United States' else 'Not Applicable',
    axis=1  # Apply the function row-wise
)

# Fill missing values in the 'self_employed' column with 'No'
# This assumes the default or majority of respondents are not self-employed when data is missing
df['self_employed'] = df['self_employed'].fillna('No')

# Fill missing values in the 'work_interfere' column with 'Unknown'
# This standardizes skipped or uncertain responses for better consistency
df['work_interfere'] = df['work_interfere'].fillna('Unknown')

In [12]:
gender_map = {
    'male': 'Male', 'm': 'Male', 'man': 'Male', 'cis male': 'Male', 'cis man': 'Male',
    'female': 'Female', 'f': 'Female', 'woman': 'Female', 'cis female': 'Female', 'cis-female/femme': 'Female'
}
df['Gender'] = df['Gender'].str.strip().str.lower().replace(gender_map)
df['Gender'] = df['Gender'].apply(lambda x: 'Other/Prefer not to say' if x not in ['Male', 'Female'] else x)

In [13]:
# Remove unrealistic ages and fill missing with median
df['Age'] = df['Age'].apply(lambda x: np.nan if x < 15 or x > 100 else x)
df['Age'] = df['Age'].fillna(df['Age'].median())

In [14]:
# Clean up all object columns (strip, lower, title-case)
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    df[col] = df[col].astype(str).str.strip().str.lower().str.title()

In [15]:
country_map = {
    'Us': 'United States', 'Usa': 'United States', 'Uk': 'United Kingdom',
    'U.S.': 'United States', 'U.S.A.': 'United States'
}
df['Country'] = df['Country'].replace(country_map)

In [ ]:
df = df.drop(columns=['comments'])  # 'state' is retained

KeyError: "['comments'] not found in axis"

In [17]:
os.makedirs('../data/final', exist_ok=True)
df.to_csv('../data/final/survey_cleaned.csv', index=False)

print("‚úÖ Data cleaning complete. Saved to '../data/final/survey_cleaned.csv'")

‚úÖ Data cleaning complete. Saved to '../data/final/survey_cleaned.csv'

In [18]:
# Import core libraries
import pandas as pd
import numpy as np
import os  # for creating folders if needed

In [19]:
# Load the raw survey data
df = pd.read_csv('../data/raw/survey.csv')

# Preview the first few rows
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [ ]:
# Restore 'state' only for US respondents; others marked as Not Applicable
# For each row, retain 'state' if Country is United States, else mark as "Not Applicable"
df['state'] = df.apply(
    lambda row: row['state'] if row['Country'] == 'United States' else 'Not Applicable',
    axis=1
)

# Fill missing values in the 'self_employed' column with 'No'
# Assumes most non-responses are not self-employed
df['self_employed'] = df['self_employed'].fillna('No')

# Fill missing values in the 'work_interfere' column with 'Unknown'
# Represents either uncertainty or skipped responses
df['work_interfere'] = df['work_interfere'].fillna('Unknown')

In [26]:
# Create a mapping for inconsistent gender entries
gender_map = {
    'male': 'Male', 'm': 'Male', 'man': 'Male', 'cis male': 'Male', 'cis man': 'Male',
    'female': 'Female', 'f': 'Female', 'woman': 'Female', 'cis female': 'Female', 'cis-female/femme': 'Female'
}

# Normalize gender values to lowercase, strip spaces, and apply mapping
df['Gender'] = df['Gender'].str.strip().str.lower().replace(gender_map)

# Drop rows where gender is not clearly 'Male' or 'Female'
df = df[df['Gender'].isin(['Male', 'Female'])]

In [34]:
# Keep only rows where age is realistic (15‚Äì100) AND at least 27 years old
df = df[(df['Age'] >= 27) & (df['Age'] <= 100)]

In [37]:
# Step 1: Identify all columns that contain text data
# These are usually survey responses like "Yes", "No", "Don't Know", etc.
# We want to clean these columns for consistency
categorical_cols = df.select_dtypes(include='object').columns

# Step 2: Clean and standardize all text data in those columns
# For each text column, we:
# - Convert everything to a string (in case some values are not stored as text)
# - Remove any leading or trailing whitespace with .strip()
# - Convert all text to lowercase with .lower() (so "Yes" and "yes" are treated the same)
# - Capitalize the first letter of each word using .title() to make it more readable
# 
# We use .loc[:, col] instead of direct assignment to avoid the SettingWithCopyWarning
# This ensures we're modifying the original DataFrame safely, even after filtering or slicing

for col in categorical_cols:
    df.loc[:, col] = df[col].astype(str).str.strip().str.lower().str.title()

In [38]:
# Drop 'comments' column only if it exists
if 'comments' in df.columns:
    df = df.drop(columns=['comments'])

In [39]:
# Create final output folder if it doesn't exist
os.makedirs('../data/final', exist_ok=True)

# Save cleaned dataset to CSV
df.to_csv('../data/final/survey_cleaned.csv', index=False)

print("‚úÖ Data cleaning complete. File saved to '../data/final/survey_cleaned.csv'")

‚úÖ Data cleaning complete. File saved to '../data/final/survey_cleaned.csv'

In [3]:
from nbformat import v4 as nbf
nb = nbf.new_notebook()
print("nbformat is working ‚úÖ")

nbformat is working ‚úÖ

In [5]:
# üì• Step 1: Import required libraries
import pandas as pd
import numpy as np